<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".YourApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="stfapp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.STFAPP"
        tools:targetApi="31">
        <activity
            android:name=".BranchReportActivity"
            android:exported="false" />
        <activity
            android:name=".ReportActivity"
            android:exported="false" />
        <activity
            android:name=".BadClientsActivity"
            android:exported="false" />
        <activity
            android:name=".ClientDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".InvestmentScreenActivity"
            android:exported="false" />
        <activity
            android:name=".CreateClientActivity"
            android:exported="false" />
        <activity
            android:name=".CollectorDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".CreateCollectorActivity"
            android:exported="false" />
        <activity
            android:name=".BranchDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".CreateBranchActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.STFAPP">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>